.about-us {
  position: relative;
  margin-bottom: 110px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 83px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 65px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 92px;
    top: 5px;
    width: 220px;
    height: 317px;
    background-image: url("../img/2005_desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/2005_desktop@2x.png");
    }

    @media (max-width: $tablet-width-only) {
      left: -28px;
      top: 0;
      width: 251px;
      height: 361px;
      background-image: url("../img/2005_tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/2005_tablet@2x.png");
      }
    }

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  h2 {
    margin-top: 0;
    margin-left: 303px;
    margin-bottom: 22px;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    color: $grey;

    @media (max-width: $tablet-width-only) {
      margin-left: 186px;
      margin-bottom: 25px;
      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: $mobile-width-only) {
      margin-left: 0;
      margin-bottom: 22px;
      font-size: 28px;
      line-height: 40px;
    }
  }

  p {
    max-width: 984px;
    margin-left: 303px;
    margin-bottom: 22px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $grey;

    @media (max-width: $tablet-width-only) {
      margin-left: 188px;
      margin-bottom: 20px;
      max-width: 532px;
      line-height: 22px;
    }

    @media (max-width: $mobile-width-only) {
      margin-left: 0;
      margin-bottom: 45px;
      line-height: 21px;
    }
  }

  span {
    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }
}

.about-us__button {
  margin-top: 20px;
  margin-left: 303px;
  cursor: pointer;
  width: 180px;
  height: 45px;
  border: 1px solid $light-blue;
  border-radius: 5px;
  color: $light-blue;
  background-color: $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $grey;
  }

  &:active {
    color: $grey;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 22px;
    margin-left: 188px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: -10px;
    margin-left: 0;
  }
}

.about-us__link {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: 303px;
  width: 180px;
  height: 45px;
  border: 1px solid $light-blue;
  border-radius: 5px;
  background-color: $white;

  p {
    position: absolute;
    width: 350px;
    left: 42px;
    top: 14px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $light-blue;
    text-transform: uppercase;

    @media (max-width: $tablet-width-only) {
      left: 33px;
    }
  }

  &:hover,
  &:focus {
    p {
      color: $grey;
    }
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 22px;
    margin-left: 188px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: -10px;
    margin-left: 0;
  }
}
