$margin-bottom-li: 34px;
$margin-bottom-li-mobile: 15px;

.achievements {
  margin-top: 116px;
  margin-bottom: 100px - $margin-bottom-li;
  background-image: url("../img/bcg_white_desktop.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: $tablet-width-only) {
    margin-top: 57px;
    margin-bottom: 62px - $margin-bottom-li;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 44px;
    margin-bottom: 51px - $margin-bottom-li-mobile;
  }

  h2 {
    margin-top: 16px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: $light-blue;

    @media (max-width: $tablet-width-only) {
      margin-top: 4px;
      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width-only) {
      margin-top: 9px;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  p {
    max-width: 482px;
    margin-top: 0;
    margin-right: 42px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.5px;
    color: $grey;

    @media (max-width: $tablet-width-only) {
      min-width: 297px;
    }

    @media (max-width: $tablet-width-only) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile-width-only) {
      min-width: 247px;
    }
  }
}

.achievements__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: -4px;
  // margin-left: 125px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 15px;

  list-style: none;

  li {
    margin-right: 41px;

    @media (max-width: $tablet-width-only) {
      margin-right: 30px;
    }
  }

  li:nth-child(2n) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width-only) {
    justify-content: space-between;
    max-width: 720px;
    margin-left: -2px;
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
  }
}

.achievements__item {
  position: relative;
  padding-left: 40px;
  margin-bottom: $margin-bottom-li;
  border-left: 3px solid $light-blue;
  max-width: 47.2%;
  min-height: 299px;

  @media (max-width: $tablet-width-only) {
    margin-right: 0;
    margin-bottom: $margin-bottom-li - 7px;
    padding-left: 27px;
    max-width: 345px;
    border-left: 2px solid $light-blue;
    min-height: 232px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 24px;
    max-width: 100%;
    min-height: 232px;
    margin-bottom: $margin-bottom-li-mobile;
  }

  &--short-term,
  &--good-suppliers,
  &--confidence,
  &--personal-cost {
    &::after {
      content: "";
      position: absolute;
      left: 45px;
      top: 40px;
      width: 35px;
      height: 35px;
      background-size: cover;

      @media (max-width: $tablet-width-only) {
        left: 27px;
        top: 24px;
      }
    }
  }

  &--confidence {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 25px;
    }


    @media (max-width: $tablet-width-only) {
      h2 {
        margin-bottom: 14px;
      }
    }
  }

  &--personal-cost {
    h2 {
      @media (max-width: $tablet-width-only) {
        margin-top: 5px;
        margin-bottom: 7px;
      }

      @media (max-width: $mobile-width-only) {
        margin-top: 11px;
        margin-bottom: 16px;
      }
    }
  }

  &--good-suppliers {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 18px;

      p {
        min-width: 250px;
      }
    }
  }

  svg {
    margin-top: 39px;
    fill: $light-blue;

    @media (max-width: $tablet-width-only) {
      margin-top: 24px;
    }
  }

  &:hover {
    background-color: $light-blue;

    h2,
    p {
      color: $white;
    }

    svg {
      fill: $white;
    }
  }
}
