$margin-botton-li: 31px;
$margin-botton-li-mobile: 29px;

.achievments {
  margin-top: 429px;
  margin-bottom: 104px - $margin-botton-li;
  background-image: url("../img/bcg_white_desktop.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: $tablet-width-only) {
    margin-top: 54px;
    margin-bottom: 76px - $margin-botton-li;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 47px;
    margin-bottom: 60px - $margin-botton-li-mobile;
  }

  h2 {
    margin-top: 95px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: $light-blue;

    @media (max-width: $tablet-width-only) {
      margin-top: 67px;
      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width-only) {
      margin-top: 67px;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  p {
    max-width: 482px;
    margin-top: 0;
    margin-right: 42px;
    font-family: "PT Mono", "Arial", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $grey;

    @media (max-width: $tablet-width-only) {
      min-width: 297px;
    }

    @media (max-width: $mobile-width-only) {
      min-width: 247px;
    }
  }
}

.achievments__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: -4px;
  margin-left: 126px;
  margin-bottom: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $tablet-width-only) {
    justify-content: space-between;
    max-width: 720px;
    margin-left: -2px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
    width: 290px;
  }
}

.achievments__item {
  position: relative;
  padding-left: 40px;
  margin-right: 30px;
  margin-bottom: $margin-botton-li;
  border-left: 3px solid $light-blue;
  max-width: 47.2%;
  min-height: 299px;

  @media (max-width: $tablet-width-only) {
    margin-right: 0;
    padding-left: 25px;
    max-width: 345px;
    border-left: 2px solid $light-blue;
    min-height: 0;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 100%;
    min-height: 232px;
    margin-bottom: $margin-botton-li-mobile;
  }

  &--short-term,
  &--good-suppliers,
  &--confidence,
  &--personal-cost {
    &::after {
      content: "";
      position: absolute;
      left: 45px;
      top: 40px;
      width: 35px;
      height: 35px;
      background-size: cover;

      @media (max-width: $tablet-width-only) {
        left: 27px;
        top: 24px;
      }
    }
  }

  &--short-term::after {
    width: 29px;
    background-image: url("../img/stopwatch.svg");

    @media (max-width: $tablet-width-only) {
      height: 36px;
      top: 29px;
    }

    @media (max-width: $mobile-width-only) {
      top: 20px;
    }
  }

  &--confidence {
    @media (max-width: $tablet-width-only) {
      h2 {
        margin-bottom: 14px;
      }
    }
  }

  &--personal-cost {
    h2 {
      @media (max-width: $tablet-width-only) {
        margin-top: 70px;
        margin-bottom: 7px;
      }

      @media (max-width: $mobile-width-only) {
        margin-top: 63px;
        margin-bottom: 16px;
      }
    }
  }

  &--good-suppliers {
    @media (max-width: $mobile-width-only) {
      p {
        min-width: 250px;
      }
    }
  }

  &--good-suppliers::after {
    background-image: url("../img/hired.svg");

    @media (max-width: $tablet-width-only) {
      width: 32px;
      height: 33px;
    }
  }

  &--confidence::after {
    width: 36px;
    height: 31px;
    background-image: url("../img/detective.svg");

    @media (max-width: $tablet-width-only) {
      top: 29px;
      width: 30px;
      height: 26px;
    }
  }

  &--personal-cost::after {
    background-image: url("../img/tag.svg");
  }

  &:hover {
    background-color: $light-blue;

    h2,
    p {
      color: $white;
    }
  }
}
