$shift: 54px;

.footer-first {
  margin-top: 65px;
  margin-bottom: 0;
  border-bottom: 55px solid $grey1;

  @media (max-width: $tablet-width-only) {
    padding-top: 19px;
    background-color: $grey1;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 46px;
    border-bottom: 23px solid $grey1;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 29px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $black2;

    @media (max-width: $mobile-width-only) {
      margin-top: 28px;
      margin-bottom: 36px;
    }
  }
}

.footer-first__wrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width-only) {
    display: block;
  }
}

.footer-first__wrap1 {
  @media (max-width: $tablet-width-only) {
    position: relative;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.footer-firsr__no-on-desktop {
  font-family: "PT Mono", "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $grey-letter;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 31px + $shift;
    text-align: center;
  }
}

.footer-first__link {
  display: flex;
  align-items: flex-start;
  margin-bottom: 53px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 26px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 30px;
  }

  svg {
    margin-right: 16px;
  }

  h1 {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    color: $black1;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: $grey;
    font-family: "Roboto", "Arial", serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }

  @media (max-width: $tablet-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -200px;
      width: 1200px;
      height: 1px;
      background-color: $grey-border;
    }
  }
}

.footer-first__socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  width: 112px;

  @media (max-width: $mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-first__social {
  position: relative;

  &--facebook,
  &--ok,
  &--vk {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 27px;
      height: 27px;

      @media (max-width: $tablet-width-only) {
        left: -20px;
      }

      @media (max-width: $mobile-width-only) {
        top: -$shift;
      }
    }
  }

  &--facebook::after {
    background-image: url("../img/facebook.svg");
  }

  &--ok::after {
    background-image: url("../img/ok.svg");
  }

  &--vk::after {
    background-image: url("../img/vk.svg");
  }
}

.footer-first__parts,
.footer-first__contacts {
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    font-family: "PT Mono", "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $grey-letter;
  }
}

.footer-first__parts ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;

  @media (max-width: $tablet-width-only) {
    height: auto;
    display: block;
  }
}

.footer-first__parts li {
  margin-right: 40px;
}

.footer-first__wrap2 {
  display: flex;
  justify-content: space-between;
  width: 70%;

  @media (max-width: $tablet-width-only) {
    width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.footer-first__contacts {
  @media (max-width: $mobile-width-only) {
    width: 280px;
  }
}
