$shift: 54px;

.footer-multilines {
  background-color: $grey-background;
}

.footer-multilines__limited {
  display: flex;
  justify-content: space-between;
  max-width: 1412px;
  margin: 0 auto 52px auto;
  padding-top: 63px;
  background-color: $grey-background;

  @media (max-width: $tablet-width-only) {
    display: block;
    margin-top: 2px;
    margin-bottom: 39px;
    padding-top: 19px;
    background-color: $grey-background;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
    padding-top: 41px;
    border-bottom: none;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $black-background;

    @media (max-width: $mobile-width-only) {
      margin-top: 28px;
      margin-bottom: 0;
      padding-bottom: 27px;
    }
  }

  a:hover {
    color: $light-blue;
  }
}

.footer-multilines__wrap-outer {
  @media (max-width: $tablet-width-only) {
    border-bottom: 1px solid $grey-border;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 25px;
  }
}

.footer-multilines__wrap-socials {
  @media (max-width: $tablet-width-only) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }

  p {
    margin-top: 15px;
    margin-left: 17px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: $grey-letter;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      display: none;
    }

    @media (max-width: $mobile-width-only) {
      margin-left: 1px;
      margin-bottom: 33px;
      text-align: center;
    }
  }
}

.footer-multilines__link {
  display: flex;
  align-items: flex-start;
  margin-bottom: 53px;
  margin-left: 0;

  @media (max-width: $tablet-width-only) {
    margin-top: -3px;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 3px;
    margin-left: 36px;
  }

  svg {
    margin-right: 16px;
  }
}

.footer-multilines__socials {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  max-width: 230px;

  @media (max-width: $tablet-width-only) {
    margin-top: 10px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;

    li:first-child a {
      margin-left: 0;
    }
  }
}

.footer-multilines__social {
  display: block;
  width: 27px;
  height: 27px;
  margin-right: 14px;
  font-size: 0;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (max-width: $tablet-width-only) {
    margin-right: 0;
    margin-left: 15px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--facebook {
    background-image: url("../img/facebook.svg");
  }

  &--ok {
    background-image: url("../img/ok.svg");
  }

  &--vk {
    background-image: url("../img/vk.svg");
  }
}

.footer-multilines__parts,
.footer-multilines__contacts {
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;

    @media (max-width: $mobile-width-only) {
      margin-top: 8px;
      padding-bottom: 25px;
    }
  }

  p,
  li {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $grey-letter;
  }

  p {
    margin-bottom: -1px;

    @media (max-width: $mobile-width-only) {
      margin-top: 5px;
      width: 250px;
    }
  }
}

.footer-multilines__contacts {
  margin-right: 3px;

  @media (max-width: $tablet-width-only) {
    margin-right: 11px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
    width: 290px;

    ul {
      margin-top: 2px;
      width: 280px;
    }
  }

  @include footer-js;
}

.footer-multilines__parts {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
    border-bottom: 1px solid $grey-border;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 516px;

    @media (max-width: $tablet-width-only) {
      margin-left: 2px;
      height: auto;
      width: 300px;
    }
  }

  li {
    margin-left: -3px;
    margin-right: 68px;
    width: 243px;
  }

  li:nth-child(2n) {
    margin-right: 0;
    width: auto;

    @media (max-width: $tablet-width-only) {
      order: 1;
      width: 243px;
    }
  }

  @include footer-js;
}

.footer-multilines__wrap-parts-office {
  display: flex;
  justify-content: space-between;
  width: 70%;

  @media (max-width: $tablet-width-only) {
    margin-top: 38px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-top: 29px;
    width: 100%;
  }
}
