$shift: 54px;

.footer-multilines {
  display: flex;
  justify-content: space-between;
  max-width: 1412px;
  margin: 63px auto 55px auto;

  @media (max-width: $tablet-width-only) {
    display: block;
    margin-top: 2px;
    margin-bottom: 39px;
    padding-top: 19px;
    background-color: $grey1;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
    padding-top: 41px;
    border-bottom: none;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $black2;

    @media (max-width: $mobile-width-only) {
      margin-top: 28px;
      margin-bottom: 0;
      padding-bottom: 28px;
    }
  }
}

.footer-multilines__wrap-outer {
  @media (max-width: $tablet-width-only) {
    border-bottom: 1px solid $grey-border;
  }
}

.footer-multilines__wrap-socials {
  @media (max-width: $tablet-width-only) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }

  p {
    margin-top: 15px;
    margin-left: -22px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: $grey-letter;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      display: none;
    }

    @media (max-width: $mobile-width-only) {
      margin-left: 1px;
      margin-bottom: 31px + $shift;
      text-align: center;
    }
  }
}

.footer-multilines__link {
  display: flex;
  align-items: flex-start;
  color: $black1;
  margin-bottom: 53px;
  margin-left: 0;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 36px;
  }

  svg {
    margin-right: 16px;
  }
}

.footer-multilines__socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  width: 85px;

  @media (max-width: $tablet-width-only) {
    margin-top: 10px;
    margin-right: 5px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }
}

.footer-multilines__social {
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--facebook,
  &--ok,
  &--vk {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 27px;
      height: 27px;

      @media (max-width: $tablet-width-only) {
        left: -20px;
      }

      @media (max-width: $mobile-width-only) {
        top: -$shift;
      }
    }
  }

  &--facebook::after {
    background-image: url("../img/facebook.svg");
  }

  &--ok::after {
    background-image: url("../img/ok.svg");
  }

  &--vk::after {
    background-image: url("../img/vk.svg");
  }
}

.footer-multilines__parts,
.footer-multilines__contacts {
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;

    @media (max-width: $mobile-width-only) {
      margin-top: 8px;
      padding-bottom: 26px;
    }
  }

  p,
  li {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $grey-letter;
  }

  p {
    margin-bottom: -1px;

    @media (max-width: $mobile-width-only) {
      margin-top: 5px;
      width: 250px;
    }
  }
}

.footer-multilines__contacts {
  margin-right: 3px;

  @media (max-width: $tablet-width-only) {
    margin-right: 11px;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
    width: 290px;

    ul {
      margin-top: 2px;
      width: 280px;
    }
  }

  @include footer-js;
}

.footer-multilines__parts {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
    border-bottom: 1px solid $grey-border;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;

    @media (max-width: $tablet-width-only) {
      margin-left: 2px;
      height: auto;
      display: block;
    }
  }

  li {
    margin-left: -3px;
    margin-right: 78px;
  }

  @include footer-js;
}

.footer-multilines__wrap-parts-office {
  display: flex;
  justify-content: space-between;
  width: 70%;

  @media (max-width: $tablet-width-only) {
    margin-top: 38px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-top: 29px;
  }
}
