.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 179px;
  color: $white;
}

.main-header__wrap {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width-only) {
    margin-top: 20px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 17px;
  }
}

.main-header__link {
  display: flex;
  align-items: flex-start;
  z-index: 1;

  svg {
    margin-right: 16px;

    @media (max-width: $mobile-width-only) {
      margin-left: 2px;
      height: 38px;
      width: 42px;
    }
  }
}

.main-header__use {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-header__use-mobile {
  @media (min-width: $mobile-width-only) {
    display: none;
  }
}


.main-header__wrap-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 625px;

  @media (max-width: $tablet-width-only) {
    width: 88px;
  }
}

.main-header__post,
.main-header__telephone {
  cursor: pointer;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  &:hover,
  &:focus {
    color: $light-blue;
    transform: scale(1.2);
  }

  &:active {
    color: $light-blue;
    opacity: 0.5;
  }

  p {
    margin: 0;

    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }
}

.main-header__post {
  position: relative;
  margin-right: 120px;

  @media (max-width: $tablet-width-only) {
    margin-right: 33px;
  }

  &::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 2px;
    width: 19px;
    height: 14px;
    background-image: url("../img/envelope.svg");
    background-size: cover;

    @media (max-width: $tablet-width-only) {
      left: 6px;
      top: -12px;
      width: 26px;
      height: 19px;
    }

    @media (max-width: $mobile-width-only) {
      left: 14px;
    }
  }
}

.main-header__telephone {
  position: relative;
  margin-right: 38px;

  p {
    width: 184px;
  }

  &::after {
    content: "";
    position: absolute;
    left: -36px;
    top: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/phone-call.svg");
    background-size: cover;

    @media (max-width: $tablet-width-only) {
      left: 15px;
      top: -14px;
      width: 24px;
      height: 24px;
    }
  }
}

.main-header__order {
  position: relative;
  display: block;
  margin-right: 5px;
  padding: 14px 26px;
  cursor: pointer;
  height: 45px;
  width: 180px;
  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $light-blue;
  }

  &:active {
    color: $light-blue;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
