@mixin form-inputs {
  input,
  textarea {
    padding-left: 15px;
    border: none;
    border-radius: 0;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: $light-blue-background;

    &::placeholder {
      color: $white;
    }

    &:hover,
    &:focus {
      outline: 1px solid $grey;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@mixin form-submit {
  height: 45px;
  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  background-color: $light-blue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    color: $grey;
    cursor: pointer;
  }

  &:active {
    color: $grey;
    opacity: 0.5;
  }
}

@mixin footer-js {
  @media (max-width: $mobile-width-only) {
    position: relative;

    h3:hover {
      cursor: pointer;
      color: $light-blue;
    }

    &--closed {
      ul,
      p {
        display: none;
      }

      h3::after {
        content: "";
        position: absolute;
        top: -2px;
        right: 2px;
        width: 16px;
        height: 16px;
        background-image: url("../img/plus.svg");
      }
    }

    &--open {
      h3::after {
        content: "";
        position: absolute;
        top: 4px;
        right: 3px;
        width: 16px;
        height: 1px;
        background-image: url("../img/minus.svg");
      }
    }
  }
}
